
.vs/*
DefaultLanguageAnalyzer/DefaultLanguageAnalyzer.Vsix/bin/*
DefaultLanguageAnalyzer/DefaultLanguageAnalyzer.Vsix/obj/*
DefaultLanguageAnalyzer/DefaultLanguageAnalyzer/bin/Debug/*
DefaultLanguageAnalyzer/DefaultLanguageAnalyzer/obj/*
